@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
	color: #1E212C;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
	
}
/* Обмежуючий контейнер */
[class*="__container"]{
	max-width: 1275px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:15px;
}
.header {}
.page {}

.page__container {
display:flex;
align-items: flex-start;
column-gap: 105px;
}
.page__image {
	flex: 0 0 35%;
	align-self: center;
}
.page__content {
	flex: 1 1 50%;
}
.forms{}
.forms__part1{
display: flex;
gap: 25px;
}
.forms__part2{
	display: flex;
	gap: 25px;
}
.page__image img{
	width: 100%;
	padding-right: 15px;
}
.page__subtitle {
font-weight: 700;
line-height: 24px;
letter-spacing: 1px;
line-height: 150%;
margin-bottom: 8px;
text-transform: uppercase;
color: #1E212C;
}
.page__title {
font-weight: 900;
font-size: 46px;
line-height: 130%;
margin-bottom: 40px;
}
.page__form {}
.page__forms {}

.form {
width: 100%;
background: #FFFFFF;
border: 1px solid #D7DADD;
border-radius: 4px;
margin-bottom: 24px;
align-self: center;
padding-left: 16px;
padding-top: 13px;
padding-bottom: 13px;
height: 52px;
width: 340px;
margin-bottom: 24px;
margin-top: 8px;
}

.label{
color: #424551;
height: 34px;
width: 340px;
}
.form__input {}
.page__button {}
.page__section{
position: relative;
display: flex;
gap: 50px;
align-items: flex-end;
min-height: 285px;
justify-content: space-between;
Line-height:25px;
}
.action-form {}
.action-form__checkbox{
flex: 1 0 40%;
}
.checkbox{
	position: relative;
}
.checkbox__input{
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	background-color: transparent;
}
.checkbox__input:focus + .checkbox__label::before{
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #9A9CA5;;
}
.checkbox__input:checked + .checkbox__label::before{
	background: #c92e26 url('../img/check.svg') center / 70% no-repeat;
	border-radius: 4px;
}
.checkbox__label {
	cursor: pointer;
	display: inline-flex;
height: 52px;
	gap: 10px;
	padding: 5px;
}
.checkbox__label::before{
	content: "";
	flex: 0 0 15px;
	height: 15px;
	width: 15px;
	background-color: #FF3F3A;
	border-radius: 4px;
}
.checkbox__text{
	align-self: center;
}
.button {
flex: 0 0 48.2%;
}
.page__action {
	position: relative;
}
.textarea-main__text{
color: #9A9CA5;
background: #FFFFFF;
border: 1px solid #D7DADD;
border-radius: 4px;
resize: none;
padding-top: 13px;
padding-left: 16px;
}
.textarea-main__label{
color: #424551;
}
.page__textarea{
position: absolute;
display: flex;
gap: 8px;
flex-direction: column;
Width: 705px;
Height: 162px;
right: -40%;
}

.footer {
	padding: 20px;
}
.radio{
	position: relative;
}
.radio__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
.radio__input:focus + .radio__label::before{
	background-color: transparent;
	border: 1px solid #9A9CA5;
}
.radio__input:checked + .radio__label::before{
	background-color: #c92e26;
}
.radio__label {
	cursor: pointer;
	display: inline-flex;
	gap: 10px;
	padding: 15px;
}
.radio__label::before{
	content: "";
	flex: 0 0 10px;
	height: 10px;
	width: 10px;
	border: 1px solid #9A9CA5;
	border-radius: 50%;
}
.radio__text{
	align-self: center;
}